
<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
        <div id="map" style="width:100%; height:600px"></div>

    
    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
     
	    <script>
	      
	      function initMap() {
	      	  var map;
	      	  var Hamilton = {lat: -37.7870, lat: 175.2793};
	          var Wellington = {lat: -41.2865, lat: 174.7762};
	          var Christchurch = {lat: -43.5321, lat: 172.6362};
	          var Queenstown = {lat: -45.0312, lat: 168.6626};
	          var Dunedin = {lat: -45.8788, lat: 170.5028};
	          var Rotorua = {lat: -38.1368, lat: 176.2497};
	          var Auckland = {lat: -36.8485, lat: 174.7633};
	          var NZ = {lat: -40.9006, lat: 174.8860};
	          map = new google.maps.Map(document.getElementById('map'), {
	          center: NZ,
	          zoom: 6
	          });
	        
	        
	        var markerHam = new google.maps.Marker({position: Hamilton, map: map});
	        var markerWel = new google.maps.Marker({position: Wellington, map: map});
	        var markerChch = new google.maps.Marker({position: Christchurch, map: map});
	        var markerQtown = new google.maps.Marker({position: Queenstown, map: map});
	        var markerDun = new google.maps.Marker({position: Dunedin, map: map});
	        var markerRot = new google.maps.Marker({position: Rotorua, map: map});
	        var markerAuk = new google.maps.Marker({position: Auckland, map: map});
	      }
	    </script>
	    
	    <script async defer 
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOd05ARvJt0A5QMzaKr21EqIvZdhYABJE&callback=initMap">
	    </script>
   </body>

</html>